####################################################################
#
# Ekinops, MGNT4 equipments
#
# $Id$
#
####################################################################

VENDOR          Ekinops                 20044

BEGIN-VENDOR    Ekinops

# CLI and Ekicraft profile values:
# 1- Administrator
# 2- Maintenance
# 3- Readonly
# 4- None (no access)

ATTRIBUTE     Ekinops-CLI-Profile                                       1               integer
ATTRIBUTE     Ekinops-Ekicraft-Profile                                  2               integer

END-VENDOR Ekinops
