##############################################################################
#
#       Radware attributes, of course in the RFC space...
#
#       $Id$
#
##############################################################################

VENDOR RND      89

BEGIN-VENDOR    RND

ATTRIBUTE       Radware-Role                            100     string
ATTRIBUTE       Radware-Policy                          101     string

END-VENDOR      RND
