server inner-tunnel {
  listen {
    ipaddr = 127.0.0.1
    port = 18120
    type = auth
  }

  authorize {
    if (&CHAP-Password || &MS-CHAP-Challenge || &MS-CHAP-Response) {
      update reply {
        Reply-Message := "Use PAP for LDAP-backed tunneled RADIUS login"
      }
      reject
    }
    chap
    mschap
    suffix
    eap {
      ok = return
    }
    files
    ldap
    if ((ok || updated) && &User-Password) {
{% if radius_yubikey_nas_bypass_enabled | bool %}
      if ("%{ldap:ldap://{{ radius_ldap_host_effective }}:{{ radius_ldap_port_effective }}/{{ radius_clients_base_dn }}?yubiKeyNasBypass?sub?(|(cn=%{NAS-Identifier})(cn=%{NAS-IP-Address}))}" == "TRUE") {
        update control {
          Auth-Type := PAP
          Cleartext-Password := "%{ldap:userPassword}"
        }
      }
      else {
        update control {
          Auth-Type := LDAP
        }
      }
{% else %}
      update control {
        Auth-Type := LDAP
      }
{% endif %}
    }
  }

  authenticate {
    Auth-Type PAP {
      pap
    }

    Auth-Type CHAP {
      chap
    }

    Auth-Type MS-CHAP {
      mschap
    }

    Auth-Type LDAP {
      ldap
    }

    eap
  }

  session {
  }

  post-auth {
    ldap
  }

  Post-Auth-Type REJECT {
    attr_filter.access_reject
  }
}
