dn: {{ ldap_database_config_dn }}
changetype: modify
{% if ldap_replication_current_syncrepl_values | length > 0 %}
delete: olcSyncRepl
-
{% endif %}
{% if ldap_replication_current_multiprovider_values | length > 0 %}
delete: olcMultiProvider
-
{% endif %}
